
@{
    ViewData["Title"] = "Assignment";
}
<div>
    <h1>Assignment</h1>
    <br /><br />
    <h4>Product operations</h4>
    1. @ViewBag.concreteProductGenerateSlip
    @ViewBag.agentContractProductCommission
    <br />
    <h4>Book operations</h4>
    2. @ViewBag.bookGenerateDulpicateSlip
    @ViewBag.agentContractBookCommission
    <br />
    <h4>Member operations</h4>
    3. @ViewBag.concreteMemberActivateMember
    @ViewBag.emailSendEmail
    <br />
    <h4>Video operations</h4>
    4. @ViewBag.concreteVideoGeneratePackagingSlip
</div>
